{
    "root": true,
    "extends": [
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript",
        "plugin:json/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": { "project": ["./tsconfig.json"] },
    "plugins": ["@typescript-eslint", "json"],
    "env": { "es6": true, "jest": true, "node": true },
    "rules": {
        "prettier/prettier": "error",
        "import/no-unresolved": "error",
        "import/default": "off",
        "no-underscore-dangle": "off",
        "max-len": [
            "warn",
            {
                "code": 120,
                "tabWidth": 4,
                "comments": 120,
                "ignoreComments": false,
                "ignoreTrailingComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "class-methods-use-this": "warn",
        "require-await": "off",
        "indent": "off",
        "prefer-template": "off",
        "import/no-extraneous-dependencies": "off",
        "@typescript-eslint/indent": ["off", 4],
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "variableLike",
                "format": ["camelCase", "PascalCase", "UPPER_CASE"],
                "leadingUnderscore": "allow"
            }
        ],
        "@typescript-eslint/restrict-template-expressions": [
            "error",
            { "allowNumber": true, "allowBoolean": false, "allowAny": true, "allowNullish": false }
        ],
        "@typescript-eslint/require-await": "warn"
    }
}
